body {
    font-family: 'Helvetica Neue', Helvetica, Arial;
    max-width:fit-content;
    margin: 0 auto;
    text-align: center;
    background-color: #091427;
    color: white;
}


.title,
.recipe-title {
    padding: 10px;
}

.title {
    border: 2px solid white;
    margin-bottom: -10px;
    background-color:lightseagreen
}

.recipe-title {
    font-size:medium;
    margin-bottom: 100px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 20px;
}

a {
    padding: 10px;
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(250, 122, 37);
    transition: 0.4s;
}

a:active {
    color:blueviolet;
    transition: none;
}

h5 {
    margin-top: -5px;
    text-align: center;
}

.links {
    border: 2px solid blanchedalmond;
    background-color: lightseagreen;
    box-sizing: border-box;
    padding: 0px;
    display: block;
    width: 200px;
    margin: 0 auto;
}