* {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial;
    margin: 0;
    text-align: center;
    background-color: #091427;
    color: white;
}

ul {
    padding: 0;
    list-style-type: disc;
    margin: 10px 65px 100px;
}

h1 {
    border: 2px solid white;
    background-color: lightseagreen;
    padding: 10px;
    width: 300px;
    margin: 20px auto 50px auto;
}

h4 {
    text-align: left;
    width: 400px;
    margin: 50px auto 180px;
    padding: 20px;
    line-height: 27px;
}

a {
    text-decoration: none;
    color: black;
}

button {
    cursor: pointer;
    padding: 5px;
    margin: 20px auto;

}

button:active {
    background-color: gray;
}

img {
    margin-bottom: 20px;
}

.sub-header {
    margin: 20px 40px;
    text-decoration:underline;
    text-align: left;
    padding: 5px;
    width: 160px;
    font-size: x-large;
}

ol {
    list-style-type: decimal-leading-zero;
    margin: 10px 38px;
}

ul,
ol {
    letter-spacing: 1.5px;
    line-height: 45px;
    text-align: left;
}

.bold-caution {
  margin-bottom: 25px;  
}

.bold-caution {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    text-shadow: .1px .1px white;
}